@import '../../../styles/commons/variaveis';

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__botao {
        margin: 1.5em 1em;
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
        font-family: $fonte-texto;
        border-radius: 15px;
        border-bottom: black 1px solid;
        padding: 1em;
        transition: 300ms;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 3px 6px $sombra-clara;
            
            .svg_dir {
                transition: 300ms;
                transform: translateX(8px);
            }
    
            .svg_esq {
                transition: 300ms;
                transform: translateX(-8px);
            }
    
        }

        .svg_dir {
            transition: 300ms;
        }

        .svg_esq {
            transition: 300ms;
        }

        svg {
            font-size: 1.5em;

            &:hover {

            }
        }

        &__id {
            font-size: 1em;
            font-weight: 600;
            color: $cinza-escuro;
        }

        &__nome {
            text-transform: capitalize;
            font-size: 1.2em;
            font-weight: 600;
        }
    }
}

@media screen and (min-width:$min-width-desktop) {
  
    .botoes {

        &__botao {
    
            svg {
    
            }
    
            &__id {

            }
    
            &__nome {
    
            }
        }
    }

}

@media screen and (min-width:$min-width-tablet) and (max-width:$max-width-tablet) {
  
    .botoes {

        &__botao {
            width: 25%;
    
            svg {
    
            }
    
            &__id {
                font-size: 0.9em;
    
            }
    
            &__nome {
                font-size: 1.1em;
            }
        }
    }

}

@media screen and (max-width:$max-width-mobile) {

    .botoes {

        &__botao {
            padding: 0.8em 0.6em;
            width: 40%;
            gap: 0.5em;
            justify-content: center;
    
            svg {
    
            }
    
            &__id {
                font-size: 0.8em;
    
            }
    
            &__nome {
                font-size: 1em;
    
            }
        }
    }
}
