@import '../../styles/commons/variaveis';

.provisorio {
    min-height: 50vh;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 1em;

    p, svg {
        font-family: $fonte-texto;
        font-size: 1.2em;
    }

    svg{
        align-self: flex-start;
    }

    p {
        align-self: flex-end;
    }
}

.container {

}

@media screen and (min-width:$min-width-desktop) {
  
    .container {

    }

}

@media screen and (min-width:$min-width-tablet) and (max-width:$max-width-tablet) {
  
    .container {

    }

}

@media screen and (max-width:$max-width-mobile) {
    .provisorio {
        min-height: 70vh;
    }
    
    .container {

    }
}
