@import '../../styles/commons/variaveis';

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: $fonte-texto;
    width: 100vw;
    min-height: 60vh;
    text-align: center;

    h2 {       
        font-size: 1.7em;
        font-weight: 600;
    }

    p {
        font-size: 1.2em;
    }

    ul {
        text-align: left;

        li {
            font-size: 0.9em;
        }

    }

    svg {
        font-size: 3.2em;
    }

}

@media screen and (max-width:$max-width-mobile) {
    .notFound {
        min-height: 80vh;
        width: 80%;
        margin: 0 auto;
        font-size: 0.8em;
    }
}